/*! normalize.css v1.1.1 | MIT License | git.io/normalize */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block
}

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1
}

audio:not([controls]) {
  display: none;
  height: 0
}

[hidden] {
  display: none
}

html {
  background: #fff;
  color: #000;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%
}

button, html, input, select, textarea {
  font-family: sans-serif
}

body {
  margin: 0;
  font-family: Arial;
}

a:focus {
  outline: thin dotted
}

a:active, a:hover {
  outline: 0
}

h1 {
  font-size: 2em;
  margin: .67em 0
}

h2 {
  font-size: 1.5em;
  margin: .83em 0
}

h3 {
  font-size: 1.17em;
  margin: 1em 0
}

h4 {
  font-size: 1em;
  margin: 1.33em 0
}

h5 {
  font-size: .83em;
  margin: 1.67em 0
}

h6 {
  font-size: .67em;
  margin: 2.33em 0
}

abbr[title] {
  border-bottom: 1px dotted
}

b, strong {
  font-weight: 700
}

blockquote {
  margin: 1em 40px
}

dfn {
  font-style: italic
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0
}

mark {
  background: #ff0;
  color: #000
}

p, pre {
  margin: 1em 0
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word
}

q {
  quotes: none
}

q:after, q:before {
  content: '';
  content: none
}

small {
  font-size: 80%
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sup {
  top: -.5em
}

sub {
  bottom: -.25em
}

dl, menu, ol, ul {
  margin: 1em 0
}

dd {
  margin: 0 0 0 40px
}

menu, ol, ul {
  padding: 0 0 0 40px
}

nav ol, nav ul {
  list-style: none;
  list-style-image: none
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic
}

svg:not(:root) {
  overflow: hidden
}

figure, form {
  margin: 0
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle
}

button, input {
  line-height: normal
}

button, select {
  text-transform: none
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible
}

button[disabled], html input[disabled] {
  cursor: default
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0
}

textarea {
  overflow: auto;
  vertical-align: top
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

/* my css */
button, html, input, select, textarea {
  color: #222
}

body {
  font-size: 1em;
  line-height: 1.4
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0
}

img {
  vertical-align: middle
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0
}

textarea {
  resize: vertical
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0
}

@font-face {
  font-family: sierra_madreitalic;
  src: url(fonts/sierra_madre_italic-webfont.ttf) format('truetype'), url(fonts/sierra_madre_italic-webfont.eot);
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: sierra_madrebold_italic;
  src: url(fonts/sierra_madre_bold_italic-webfont.eot), url(fonts/sierra_madre_bold_italic-webfont.ttf) format('truetype');
  font-weight: 400;
  font-style: normal
}

.wrapper {
  width: 100vw;
  height: 614px;
  position: absolute;
  margin: 0 auto;
  box-sizing: border-box;
  overflow-x: hidden;
  display: inline-block;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  touch-action: manipulation;
}

.wrapper-elem {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  vertical-align: top;
}

.roulette {
  width: 594px;
  height: 100%;
  background: transparent url(../img/roulette_body.png) no-repeat;
}

#roulette_arrow {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 37px;
  height: 143px;
  background: transparent url(../img/roulette_arrow.png) no-repeat
}

#roulette_axis {
  position: absolute;
  top: 45%;
  left: 50%;
  width: 90px;
  height: 90px;
  background: #ed0a28;
  transform: translate(-50%, calc(-50% - 10px));
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, .2);
}


.brownColor {
  color: #441827
}

.yellowColor {
  color: #EFBE2E
}

.redColor {
  color: #CE332F
}

.sizeL, .sizeM {
  font-family: sierra_madrebold_italic
}

.sizeL {
  font-size: 48px
}

.sizeM {
  font-size: 29px
}

.rotateButton {
  background-image: url(../img/rotate_button.png);
  background-repeat: no-repeat;
  bottom: 115px;
  height: 101px;
  position: absolute;
  right: 60px;
  width: 294px;
  cursor: pointer
}

.promotionRestrictions {
  bottom: 10px;
  color: #441827;
  font-size: 10px;
  position: absolute;
  right: 100px;
  text-align: center
}

.promotionRestrictions a {
  text-decoration: none;
  color: #441827
}

.promotionRestrictions a:hover {
  text-decoration: underline
}

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%
}

.hidden {
  display: none!important;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px
}

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto
}

.invisible {
  visibility: hidden
}

.clearfix:after, .clearfix:before {
  content: " ";
  display: table
}

.clearfix:after {
  clear: both
}

.clearfix {
  *zoom: 1
}

.button {
  padding: 50px 0;
  cursor: pointer;
}

.dlg {
  margin: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, .5);
  box-sizing: border-box;
  display: flex;
  padding: 0;
  bottom: 0;
  right: 0;
}

.dlg .container {
  width: calc(100vw - 120px);
  background: #FFFFFF;
  padding: 0;
  box-sizing: border-box;
  border: 20px solid #ed0a28;
  border-radius: 40px;
  position: relative;
  max-height: 500px;
  position: absolute;
  height: 100vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14),0 9px 46px 8px rgba(0,0,0,0.12),0 11px 15px -7px rgba(0,0,0,0.2);
  box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14),0 9px 46px 8px rgba(0,0,0,0.12),0 11px 15px -7px rgba(0,0,0,0.2);
  max-width: 800px;
}

.dlg .container-inner {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}

.btn-close {
  width: 50px;
  height: 50px;
  background: #ed0a28;
  border-radius: 50%;
  color: #FFFFFF;
  font-size: 20px;
  position: absolute;
  right: 10px;
  top: 10px;
  text-align: center;
  line-height: 50px;
  font-weight: 800;
  cursor: pointer;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2)
}

.dlg .content {
  width: 100%;
  height: 100%;
  position: relative;
}

.dlg-text .text {
  font-size: 4rem;
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  padding: 0 40px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
  text-shadow: 5px 5px rgba(0, 0, 0, .1);
}

.dlg-text .area {
  width: 100%;
  text-align: right;
  position: absolute;
  bottom: 10px;
  right: 20px;
  font-size: 1.3rem;
  box-sizing: border-box;
  min-height: 40px;
  vertical-align: bottom;
  padding-left: 50px;
}

.dlg-winners .text {
  font-size: 1.5rem;
  text-shadow: 2px 2px rgba(0, 0, 0, .1);
}

.dlg-winners .container {
  padding: 70px 70px 30px;
}

.dlg-winners .content {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
}

.dlg-winners .content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

.dlg-winners .content::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}

.dlg-winners .content::-webkit-scrollbar-thumb {
  background-color: #000000;
}

.dlg-winners .person {
  padding-bottom: 20px;
}

.wrapper {
  height: initial;
}

.wrapper-elem {
  vertical-align: middle;
  margin-left: 50px;
}

.button-winners {
  cursor: pointer;
}

.button.girar {
  color: #FFFFFF;
  background-color: #ed0a28;
  box-sizing: content-box;
  display: inline-block;
  padding: 15px 80px;
  box-shadow: 2px 2px rgba(0,0,0,.5);
  border-radius: 10px;
  margin: 40px 0;
  cursor: pointer;
  font-size: 2rem;
}